#myNavbar1{
    padding-right: 0px;
    padding-left: 0px;
    background: #7FC3FF;
}
#myNavbar1, .navbar-header{
	background: #7FC3FF;
}
#myNavbar1 li>a{
    color: #FFFFFF;
    display: block;
    padding: 15px;
    background: #7FC3FF;
}
#barra-titulo2{
    color: #ffffff;
    background-color: #7FC3FF;
}
.contenedorNav{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
}
.container{
	margin-left: -16px;
}

#imgHeader {
	height: 198px;
	width: 80%;
	margin: auto;
	display: block;

}

.icono{
	font-size: 16px;
	line-height: 5px;
	margin-right: 10px;
}

#myNavbar{
	padding-right: 0px;
    padding-left: 0px;
    background: #7FC3FF;
}
#myNavbar, .navbar-header{
	background: #7FC3FF;
}
#myNavbar li>a{
		color: #FFFFFF;
		display: block;
		padding: 15px;
		background: #7FC3FF;
	}
#myNavbar li>a:hover {
		background: #7FC3FF;
		color: #020202;
	}
#myNavbar .dropdown-menu li>a:hover{
		background: #fff;
		color: #ffffff;
		background-color: #286090;
	}
#myNavbar li>ul>li>a{
		background: #7FC3FF;
	}
#barra-titulo{
	color: #ffffff;
	background-color: #7FC3FF;
}

.dropdown-menu h5{
	text-align: center;
	color: #286090;
	font-weight: bold;
}

.item {
    display: block;
    width: 100%;
    height: 350px;
}
.item img {
    height: 100%;
    width: 100%;
}
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
	background:#6BAFF2;
}
#myCarousel .nav a {
    border-radius:0px;
    color: #ffffff;
}
#myCarousel .nav a:hover{
		background: #fff;
		color: #ffffff;
		background-color: #286090;
	}

.carruselV h5{
	margin-top: -1%;
	margin-right: 102px;
	color: #013A73;
	font-weight: bold;
	font-size: 1.5em;
}
.carruselV ul{
	list-style: none;
	padding: 0;
	overflow: hidden;
    height: 330px;

}
.carruselV ul li .espacio{
	margin-bottom: 10px;

}
.peq{
    height: 90px;
    width: 90px;
}
.panels h5 {
	text-align: center;
}
.panels a p{
    color: #013A73;
    font-weight: bold;
}
.panels p{
	text-align: center;
}
.panels img {
	margin:8px auto;
	display:block;
    height: 250px;
    width: 250px;
}


.botonesP .input-group {
	position: relative;
    display: table;
    border-collapse: separate;
    width: 25%;

}
.botonesP{
	display: flex;
	justify-content: center;
}

#contendorProductos  h4{
    text-align: center;
    color: #013A73;
    font-weight: bold;
	font-size: 2em;
}
.botonDestacado{
    margin-top: 21px;
    justify-content: center;
}

#infoStudio hr{
	border-top: 1px solid #337ab7;
}
#infoStudio h4{
    text-align: center;
    color: #013A73;
    font-weight: bold;
}
#infoStudio ul{
    list-style: none;
}

#infoStudio a{
    list-style: none;
    color: #020202;
}
#infoStudio a:hover {
    color: #7FC3FF;
}
#infoStudio{
    background: #F7F5F5;
}
#mediosPago {
    text-align: center;
}
#mediosPago img{
    height: 40px;
}

#footer{

	background-color: #7FC3FF;
	text-align: center;
	color: #FFFFFF;
}
#footer h4{
	color: #FFFFFF;
}

.redes .iconos{
	font-size: 30px;
	line-height: 16px;
	color: #FFFFFF;
	margin-right: 2%;
}

#vistaProductos h4{
    text-align: center;
    color: #013A73;
    font-weight: bold;
    font-size: 2em;
}
#vistaProductos hr{
	border-top: 1px solid #337ab7;
}
.centrarInfor{
	margin-left: 10%;
}
#mision{
	text-align: justify;
}

#mision li{
	display: inline;
	padding-right: 5%;
}
.modal-title{
	text-align: center;
	color: #013A73;
	font-weight: bold;
}
.control-label{
	color: #013A73;
	font-weight: bold;
}
#mapa{
	margin-left: -7%;
}
#localizacion h5{
	 color: #013A73;
	 font-weight: bold;
	 font-size: 1.5em;
	 text-align: center
 }
#localizacion p{
	text-align: center
}

#preguntas {
	color: #013A73;
	font-weight: bold;
}
#preguntas h5{
	color: #013A73;
	font-weight: bold;
	font-size: 1.4em;
	text-align: center;
}
#preguntas p{
	text-align: justify;
}
#envios p{
	text-align: justify;
}
#tablaProductos{
	text-align: center;
}
#VerMas .input-group{
	width: 8%;
	margin-left: 73%;
	display: -webkit-inline-box;
	margin-bottom: 2%;
}
#decripModel{
	padding-bottom: 0%;
	margin-bottom: 0%;
}
#modelCarrito{
	margin-top: -8%;
}
#VerMas h5{
	text-align: center;
	color: #013A73;
	font-weight: bold;
	font-size: 1.5em;
}
#VerMas h4{
	text-align: left;
	color: #013A73;
	font-weight: bold;
	font-size: 1.5em;
}
#VerMas p{
	text-align: left;

}
#decripModel .form-control{
	width: 17%;
}

#imgTallas{
	margin:8px auto;
	display:block;
	height: 250px;
	width: 250px;
}